.title { font-weight: bold; font-size: large; margin-bottom:20px;}

.nav {
	text-decoration: underline;
	cursor: pointer;
}

/* unvisited link */
.nav:link {
  color: black;
}

/* visited link */
.nav:visited {
  color: black;
}

/* mouse over link */
.nav:hover {
  color: green;
}

/* selected link */
.nav:active {
  color: green;
}

/* hover container */
.hoveritem {
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* hover content */
.hoveritem .hovercontent {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position */
  position: absolute;
  z-index: 1;
}

/* Show the hover content when you mouse over the hover container */
.hoveritem:hover .hovercontent {
  visibility: visible;
}

/* Background for modal iframe */
.modaliframe {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
	padding-left: 100px;
  top: 0;
	padding-top: 100px; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal iframe content */
.modaliframe-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
	height: 60%;
}
